<?xml version="1.0"?>
<launch>
	<param name="IsCaught" value="False" />
	<node pkg="turtlesim" type="turtlesim_node" name="turtle" />
	<node pkg="flytbase_turtle" type="goal4_chase_turtle_fast_RT.py" name="circler" output = "screen" />
	<node pkg="flytbase_turtle" type="spawn_turtle.py" name="spawner" />
	<node pkg="flytbase_turtle" type="goal4_chase_turtle_fast_nextPrediction.py" name="chaser" output = "screen"/>
</launch>